@media only screen and (max-width: 880px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  button.is-success {
    min-height: 0 !important;
  }
}

.panel-heading {
  border-radius: 0;
}
